/* 视频播放功能CSS */
video.edui-upload-video {
    display: none;
}
div[data-power-ui=advertisement_fixed] .fixedCount {
    margin-right: 5px;
    font-size: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    text-align: right;
    line-height: 18px;
    height: 18px;
}
div[data-power-ui=advertisement_fixed] .fixedCount a {
    background-color: #a9a9a9;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
    font-size: 12px;
}
div[data-power-ui=advertisement_fixed] .fixedCount a.seld {
    color: #c71585;
}
/* 漂浮广告 */
.floatPosition {
    -moz-box-shadow: 0px 0px 4px #333333;
    -webkit-box-shadow: 0px 0px 4px #333333;
    box-shadow: 0px 0px 4px #333333;
}
.floatPosition a.close {
    display: block;
    color: #fff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    font-family: "Microsoft YaHei", SimSun, Arial, Helvetica, Tahoma, sans-serif;
    font-weight: 100;
    top: 2px;
    right: 2px;
    font-size: 20px;
    text-decoration: none;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
.floatPosition a.close:hover {
    background: #fff;
    color: #666;
}
/*时间选择左右箭头定义*/
.datetimepicker table {
    line-height: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*临时处理*/
.datetimepicker table th {
    font-weight: bold;
}
.datetimepicker.dropdown-menu i {
    display: block;
    width: 20px;
    height: 20px;
}
.datetimepicker.dropdown-menu .icon-arrow-left {
    background: url(../images/icon.png) -242px -77px no-repeat;
}
.datetimepicker.dropdown-menu .icon-arrow-right {
    background: url(../images/icon.png) -259px -77px no-repeat;
}
/*编辑器内的表格在前台展示时滚动条的显示*/
.ueditortable {
    display: block;
    overflow: auto;
    border: 1px solid #F8F8F8;
}
.ueditortable td {
    border: solid;
}
.tablemask {
    background-color: #000000;
    position: fixed;
    z-index: 3000;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    bottom: 0px;
    opacity: 0.5;
}
.ueditortable .expandtable {
    margin: auto;
    width: 800px;
    position: absolute;
}
.printArea .conTxt .expandtable a {
    color: black;
    padding: 5px 15px 7px 15px;
    background-color: gainsboro;
    opacity: 0.6;
}
.ueditortable table {
    margin: auto;
    text-align: center;
}
.ueditortable tbody {
    background-color: white;
}
.newueditortable .compresstable {
    text-align: center;
    margin: auto;
    position: fixed;
    margin-left: 138px;
}
.newueditortable .compresstable a {
    color: black;
    text-decoration: none;
    padding: 5px 15px 7px 15px;
    background-color: gainsboro;
    opacity: 0.6;
}
.newueditortable {
    top: 8%;
    position: fixed;
    z-index: 5000;
    overflow: auto;
    border: 2px solid #F8F8F8;
}
.newueditortable td {
    border: solid;
}
.newueditortable table {
    background-color: #fff;
    text-align: center;
}
.newueditortable .newwindowtable {
    position: fixed;
    padding: 0px 15px 1px 15px;
    background-color: gainsboro;
    opacity: 0.7;
}
.newueditortable .newwindowtable a {
    color: black;
    text-decoration: none;
}
.newueditortable .newclass {
    position: fixed;
}